pipeline/ppln_testGetEntity.json
{
	"name": "ppln_testGetEntity",
	"properties": {
		"activities": [
			{
				"name": "web_getEntity_ID",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Cookie": {
							"value": "@pipeline().parameters.parCookie",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@string('https://online.sage.co.za/U62537/api/apibase/entity/get')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@concat('{\"IDNumber\" : \"8010040877087\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cpy_getEntity_IDjson",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "web_getEntity_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": {
								"value": "Accept: application/json; api-version=1.0",
								"type": "Expression"
							},
							"requestBody": {
								"value": "@concat('{\"IDNumber\" : \"8010040877087\"}')",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						},
						"Headers": {
							"Cookie": {
								"value": "@pipeline().parameters.parCookie",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tb_DIM_ParticipantBasicDetails",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "copyRest",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "web_getEntity_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\"IDNumber\" : \"8010040877087\"}')",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Cookie": {
								"value": "@pipeline().parameters.parCookie",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tb_DIM_ParticipantBasicDetails",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "web_getEntity_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[myProc_JSON_in]",
					"storedProcedureParameters": {
						"myJson": {
							"value": {
								"value": "@activity('web_getEntity_ID').output.value",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "WOF_DataWareHouse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"parCookie": {
				"type": "string",
				"defaultValue": "PeopleEssUser=AQAAANCMnd8BFdERjHoAwE_Cl-sBAAAAjmgLLoWmj0Gxdff0MdUfHwAAAAACAAAAAAAQZgAAAAEAACAAAAB5TFo-JOXRBFN4Ygw-Wa11MTDvRMtCw3TyP77R0tBbpAAAAAAOgAAAAAIAACAAAAAn3Tbe9rG1GYf51bFWj-RfcnpfTcn-0mIyCE1tRunNXMABAAAqBaiXjc8RTgr-YP_sp0_UjB6m9lKfKZBnrzpuRkcqc3-rljqAK4pXYXipGnitq52JOB-OqVNpyXJanTlGwULIE2b5KpgfJioHN05zsphh8cOqDb9fDMnNKRTahQg5c9SGuamAo8UDGlVi6-cJL8-a-4CDu_gqPr6by4DZ_yjd269diKqeYXSHpG54IICvwWXS9IsnUFPhkKvOZcV3ZEkxKSMgf9d9eGZdARWNA63MwBdJKFK5jDomJEpNkmtalk6bwKJnljK9kmPyPlfqjtkKKWyISdoyhUWvYrm5b2yU0u-XQGcO1dbcLVvk1n4B1kGGDgeT19py2t9BAdYSDwKjI_xHi89iPB_IVYKoskTWfb7h5TzJkHGW0HCp_exmhHV9BQoiHKqpWuJOK9UfLKYh2q1juzhtMVbPHf-5TIVBPD4OZnMUwGuTdGyXqvw0WNtVrKBvmeBjnXcwKacEYfbJdJmld0xzZcdNYTFkxszaMTohH0uBpKNMjqKgrOtOLRbCoU5nNeWe4IKZY9jQQG6FoUdiwIrCKiN1f8WHOpzZ5b4x6ef9JLgIkukCdhz1nirnVma1dzmLMDrtwN7n37hGQAAAAGu3xSn-ohJ8hnG5aBEZWmUMg0qN-KVcrQhYn1ZpN8TTJIA8-AqRCHn3TCOD6emTTCxRdwZ_rNNn-MdHnpbnJ4M;XSRF-TOKEN=QKXSq7Aqvr7Tj4ztlUB129Wy67vzqHJXLkJgYm5znHu45s3U9kV09CIQcoranhzb1rqWVCMyWNEFGqsYfnQZyg2;__cf_bm=Ad_RNJj6_0jVdx5I_ctVt3TXs9qEXhRAT9vsH6Z1MtQ-1729064920-1.0.1.1-kswPI5iAUK25Eqsg9MWlcgM9jDKrEV_hG.KOrgeJfO_qSLJ_QtBYHgS0awAvSS1uu2RVsGC8LUIGQfJcs1J5SA"
			}
		},
		"folder": {
			"name": "01 Dev"
		},
		"annotations": []
	}
}