pipeline/ppln_Initial_Sage_Get_EmployeeBasic.json
{
	"name": "ppln_Initial_Sage_Get_EmployeeBasic",
	"properties": {
		"activities": [
			{
				"name": "getEmployee",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "getEntity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Cookie": {
							"value": "@pipeline().parameters.parCookie",
							"type": "Expression"
						}
					},
					"url": "https://online.sage.co.za/U62537/api/apibase/Employee/Get/1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"CompanyCode\": \"SOUTHAFRICA\",\n  \"CompanyRuleCode\": \"RSA\",\n  \"IDNumber\": \"8012138012080\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getEntity",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Cookie": {
							"value": "@pipeline().parameters.parCookie",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@string('https://online.sage.co.za/U62537/api/apibase/entity/get')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    //\"EntityCode\" : \"API016\"\n    //\"GenEntityTypeCode\" : \"INDV\",\n    //\"gender\": \"F\"\n    //\"GenEntitySubTypeCode\" : \"REC\",\n    \"IDNumber\" : \"8010040877087\"\n    //\"PassportNo\" : \"PS234\"\n    //\"EntityId\" : \"1206\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachEmployeeID",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "LookupIDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupIDS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "getEntity_ID",
							"type": "WebActivity",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Cookie": {
										"value": "@pipeline().parameters.parCookie",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@string('https://online.sage.co.za/U62537/api/apibase/entity/get')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "@concat('{\"IDNumber\" : \"',item()['ID Number'],'\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "getEntity_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@concat('{\"IDNumber\" : \"9106126400080\"}')",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Cookie": {
											"value": "@pipeline().parameters.parCookie",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SageRestEmployee",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "tb_DIM_ParticipantBasicDetails",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LookupIDS",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select top 2 [ID Number] from tb_DIM_ParticipantBasicDetails;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "tb_DIM_ParticipantBasicDetails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    //\"EntityCode\" : \"API016\"\n    //\"GenEntityTypeCode\" : \"INDV\",\n    //\"gender\": \"F\"\n    //\"GenEntitySubTypeCode\" : \"REC\",\n    \"IDNumber\" : \"8010040877087\"\n    //\"PassportNo\" : \"PS234\"\n    //\"EntityId\" : \"1206\"\n}",
						"additionalHeaders": {
							"Cookie": "@pipeline().parameters.parCookie"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SageRestEmployee",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tb_DIM_ParticipantBasicDetails",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"parCookie": {
				"type": "string",
				"defaultValue": "PeopleEssUser=AQAAANCMnd8BFdERjHoAwE_Cl-sBAAAAlilLJUmpEkqk4HPnkadDqAAAAAACAAAAAAAQZgAAAAEAACAAAACxmCavOJoh9ij-GgrQ7w1easEBCJtkJnuPlyDpbrXWPwAAAAAOgAAAAAIAACAAAAAvyJQ_lK0ekt6IsHw-_66N63t3AwyR2R3d9XNyqdm8osABAADsWihjgcAsFFNqrYFI4uvMrhBAAHukM2cgzgldiveOK65dDZ-fJh64lMdJYZJqlLMRrLW1UhzsRz1xzveQ2XsSwhzB_9tU5LQ9uSY4MAmHnTdHIat7pW1GWkKg_ohE4twfWpPNUvmNSypCnyqnEkruU8QVR3UxZHo_RGHaoeYTDkn8GqsjW4dNZgTzHXSF5dxddCzZePso8uu9QjFlqw9KJKeavGJ4YvoJ4hJiOx0GU64NBxeAWeoExRSVRwkBevQys7ykR16CkqKgY08IYT7M__aELOhTgTDbzyOPkp_XNvLgCEk82abn_Ia_2imlAoainrBlToYD2-jZ-RL-JS1hTCPR1mzWuCXmg-U3YNYTsy1DVqs--WyAXtQZfVYbgR2ghWrhmXFG7g0fyYWvSKSSZHxdWRgEV0E5tprNB-n_bxxxAd71LgxE3a_zqEIth6MtbD2lfTNoYMYLJNuE0S6ET_EaTDuY3MJIGUvkIEPPu1JJ7eCkuyh_18sX0YxF0o962InZajvvepfsK8G72fiRhmVQUh1c2KT5T8F1uYtXFRoyKIHk4961aSMEEOO4khXrMoBLCuJXBMeJG1ywUHuiQAAAAKhnSDW79mBuA3Q4LQV4Qp4auI8IKlCGIY3JMsWgPyKE7Rk9ZZtWjvsGcIfBIwp-zEypwxOBqW9ofSkV4mLhOWk;XSRF-TOKEN=3sZfNA9DZ0gaqNSrU8KLUgAqfoq_aO9afItoOH7ER_gO18CZ-eswr6VIs_ukUhP-zzSizwrOepLzUEtQrl0GQQ2;__cf_bm=4mVNoxHEGdUYFFM3A6qxbkOEF9p30CPYQt6BoHd5.hA-1728370701-1.0.1.1-mb__2W6TV4JvYfbRTT_qth1is.Fi4l0ztdLyuoUR6edKwVOECISAmAh_L.aUsY0prCHl0.XsJ0icCBlQGQ2ZRg"
			}
		},
		"folder": {
			"name": "01 Dev"
		},
		"annotations": []
	}
}