pipeline/pplnSage300.json
{
	"name": "pplnSage300",
	"properties": {
		"activities": [
			{
				"name": "getToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://online.sage.co.za/U62537/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "grant_type=password&scope=apiKey%3D4167ad79-29de-4e28-85ed-0f1cd4026dfa",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Sage300Token",
					"value": {
						"value": "@activity('getToken').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Sage300Token": {
				"type": "String"
			}
		},
		"annotations": []
	}
}