pipeline/ppln_testGetEntity.json
{
	"name": "ppln_testGetEntity",
	"properties": {
		"activities": [
			{
				"name": "web_getEntity_ID",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Cookie": {
							"value": "@pipeline().parameters.parCookie",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@string('https://online.sage.co.za/U62537/api/apibase/entity/get')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@concat('{\"IDNumber\" : \"8010040877087\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cpy_getEntity_IDjson",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "web_getEntity_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": {
								"value": "Accept: application/json; api-version=1.0",
								"type": "Expression"
							},
							"requestBody": {
								"value": "@concat('{\"IDNumber\" : \"8010040877087\"}')",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						},
						"Headers": {
							"Cookie": {
								"value": "@pipeline().parameters.parCookie",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tb_DIM_ParticipantBasicDetails",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "copyRest",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "web_getEntity_ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@concat('{\"IDNumber\" : \"8010040877087\"}')",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Cookie": {
								"value": "@pipeline().parameters.parCookie",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tb_DIM_ParticipantBasicDetails",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "web_getEntity_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[myProc_JSON_in]",
					"storedProcedureParameters": {
						"myJson": {
							"value": {
								"value": "@activity('web_getEntity_ID').output.data.value",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "WOF_DataWareHouse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"parCookie": {
				"type": "string",
				"defaultValue": "PeopleEssUser=AQAAANCMnd8BFdERjHoAwE_Cl-sBAAAAjmgLLoWmj0Gxdff0MdUfHwAAAAACAAAAAAAQZgAAAAEAACAAAABk9cBHFooZxxaVStqRxgglFjNrWE6rX88SLR70umyLXgAAAAAOgAAAAAIAACAAAACBSxvK3R3U9f_hOz7J7oRPYqLTnlcTCDh0LVnh8xC3FMABAAC1fxv8xo8az8ioTwSNNSkz-K2g55zhWyGcnA-bRoh-oTx5KibZoQCdiLF2LFk8Q31Vmmejz8t6iWe8v9AlqmKOHocHNpJWON9roiON7sPgYH9MVh1bX5S3_Km5pNdRfKjE2dwp0lPLu1rO5XmFKHqnPBEyJumafQEmmzaw_H07wrl-TqpjUlrcLU_DupfIz0LqWYhzkGYk1NubChZ1jBhcCsJ_Iy_N6SH7owOGoeMQoEc5Y7ct67jjva_YE2FhBMDSfc_-LAqLqfSejFmea0xAXfXXeKRImuQ9p477xj-5VYYLVeZiG8SS6tqyxvQiaaDXJitLnL8VvlyvKNMLuE0fKOYiqbBfxx35OiN6m8FBLGpSWJYokzfOHRYRWTTaNJD0ls6h3R8vP9StX_uFoc3_ZnGvjYFKYNJI8g75r0ilFsbD9VNYFldYieyNFSuesEDtMsNbVT35wDHhdEwf03J5B78RdbvWg-uF132IyQogtXHewvywaUZqrBy7Hg0OSjAjZ9kCsC0zQzgkwDoWoSmB6LH0g2jbMeqz4vrv-Z6v3Mu02nhyDkoYzDpSHMPPMV2Pt76kalr1q1QwPh0jYe06QAAAALLpUzC4jlpMyoWB55kfR9QvLLsjnl21fwWTGDg8YL9D9E1oWLQYSO_Y6JfhU_61-KJxNNdy6xidk0m2eWh26Zw;XSRF-TOKEN=VbAAoifNffTnib3S77bqKZmlVtFFPQS8VhZdkSsrWROwj96uB_vZwWUwG7PD7C6TZ-_J8RBpYEbXr2jI2vljMA2;__cf_bm=mO1JceJ6TFBrcZt2iZIW_Vvy3_1WuZAZMgKfmK9eJ9s-1729070676-1.0.1.1-8Vn22Z0qoGJgDXe5qLHXt4E9ysiz87IoKoyYqKMsMTcmrOsawmhrxJBue1iDJBDUbQgg6HKtvGOyd0W0IbaEUQ"
			}
		},
		"folder": {
			"name": "01 Dev"
		},
		"annotations": []
	}
}