pipeline/ppln_stage_EmployBasic.json
{
	"name": "ppln_stage_EmployBasic",
	"properties": {
		"activities": [
			{
				"name": "Exec Get Cookie",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pplnSage300_Cookie",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Exec Process EmployeeBasic",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Cookie",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppln_Initial_Sage_Get_EmployeeBasic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"parCookie": {
							"value": "@variables('varCookie')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Cookie",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Exec Get Cookie",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varCookie",
					"value": {
						"value": "@activity('Exec Get Cookie').output.pipelineReturnValue.retCookie",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varCookie": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01 Dev"
		},
		"annotations": []
	}
}