pipeline/pplnSage300.json
{
	"name": "pplnSage300",
	"properties": {
		"description": "http://{{HostName}}:{{APIPort}}/api/apibase/Header/REPORTSTOEMP",
		"activities": [
			{
				"name": "getToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://online.sage.co.za/U62537/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "grant_type=password&scope=apiKey%3D4167ad79-29de-4e28-85ed-0f1cd4026dfa",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getTables",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "setToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@variables('Sage300Token')",
							"type": "Expression"
						}
					},
					"url": "https://online.sage.co.za/U62537/api/apibase/Employee/Get/1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"CompanyCode\": \"SOUTHAFRICA\",\n  \"CompanyRuleCode\": \"RSA\",\n  \"IDNumber\": \"8012138012080\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Sage300Token",
					"value": {
						"value": "@activity('getToken').output.access_token",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Sage300Token": {
				"type": "String"
			}
		},
		"annotations": []
	}
}