pipeline/pplnSage300.json
{
	"name": "pplnSage300",
	"properties": {
		"description": "http://{{HostName}}:{{APIPort}}/api/apibase/Header/REPORTSTOEMP",
		"activities": [
			{
				"name": "getToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://online.sage.co.za/U62537/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "grant_type=password&scope=apiKey%3D4167ad79-29de-4e28-85ed-0f1cd4026dfa",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getTables",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"access_token": {
							"value": "@variables('access_token')",
							"type": "Expression"
						}
					},
					"url": "https://online.sage.co.za/U62537/api/apibase/Employee/Get/1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"CompanyCode\": \"SOUTHAFRICA\",\n  \"CompanyRuleCode\": \"RSA\",\n  \"IDNumber\": \"8012138012080\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set PeopleEssUser",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varPeopleEssUser",
					"value": {
						"value": "@activity('getToken').output.ADFWebActivityResponseHeaders['Set-Cookie']['PeopleEssUser']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set XSRF-TOKEN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varXSRF-TOKEN",
					"value": {
						"value": "@activity('getToken').output.ADFWebActivityResponseHeaders['Set-Cookie']['XSRF-TOKEN']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set __cf_bm",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var__cf_bm",
					"value": {
						"value": "@activity('getToken').output.ADFWebActivityResponseHeaders['Set-Cookie']['__cf_bm']\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Cookie",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set PeopleEssUser",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set XSRF-TOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set __cf_bm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"variables": {
			"varPeopleEssUser": {
				"type": "String"
			},
			"varXSRF-TOKEN": {
				"type": "String"
			},
			"var__cf_bm": {
				"type": "String"
			},
			"varSageCookie": {
				"type": "String"
			}
		},
		"annotations": []
	}
}