pipeline/ppln_Initial_Sage_Get_EmployeeBasic.json
{
	"name": "ppln_Initial_Sage_Get_EmployeeBasic",
	"properties": {
		"activities": [
			{
				"name": "Sage300Authentication",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pplnSage300_Cookie",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sage300Authentication",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SageEmployee",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getTables",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Sage300Authentication",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Cookie": {
							"value": "@variables('varSageCookie')",
							"type": "Expression"
						}
					},
					"url": "https://online.sage.co.za/U62537/api/apibase/Employee/Get/1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"CompanyCode\": \"SOUTHAFRICA\",\n  \"CompanyRuleCode\": \"RSA\",\n  \"IDNumber\": \"8012138012080\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"parCookie": {
				"type": "string"
			}
		},
		"folder": {
			"name": "01 Dev"
		},
		"annotations": []
	}
}