WoFDF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WoFDF"
		},
		"WOF Linked Service_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'WOF Linked Service'"
		},
		"WOF_DataWareHouse_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'WOF_DataWareHouse'"
		},
		"LSSage300_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://online.sage.co.za/U62537/api/apibase/entity/get"
		},
		"SageRestGetEntity_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://online.sage.co.za/U62537/api/apibase/entity/get"
		},
		"SageRestToken_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://online.sage.co.za/U62537/token"
		},
		"WOF Linked Service_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "inemuri.database.windows.net"
		},
		"WOF Linked Service_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WOF"
		},
		"WOF Linked Service_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Inumeri_ETL"
		},
		"WOF_DataWareHouse_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "inemuri.database.windows.net"
		},
		"WOF_DataWareHouse_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WOF-Warehouse"
		},
		"WOF_DataWareHouse_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Inumeri_ETL"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://online.sage.co.za/U62537/api/apibase/entity/get"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/irSage300')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Self hosted Sage300 integration runtime",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSSage300')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Web",
				"typeProperties": {
					"url": "[parameters('LSSage300_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "irSage300",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irSage300')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pplnSage300_Cookie')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "http://{{HostName}}:{{APIPort}}/api/apibase/Header/REPORTSTOEMP",
				"activities": [
					{
						"name": "getToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://online.sage.co.za/U62537/token",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "grant_type=password&scope=apiKey%3D4167ad79-29de-4e28-85ed-0f1cd4026dfa",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get Set_Cookie",
						"description": "get the Set-Cookie portion form output and inserting it into Set_Cookie for extraction",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varSet_Cookie",
							"value": {
								"value": "@activity('getToken').output.ADFWebActivityResponseHeaders['Set-Cookie']",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Sage Cookie",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Process PeopleESSUser",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process XSRF-Token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process __cf_bm",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varSageCookie",
							"value": {
								"value": "@concat(variables('varPeopleEssUser'),';',variables('varXSRF-TOKEN'),';',variables('var__cf_bm'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Process PeopleESSUser",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get Set_Cookie",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varPeopleEssUser",
							"value": {
								"value": "@concat('',substring(variables('varSet_Cookie'),indexof(variables('varSet_Cookie'),'PeopleEssUser'),indexof(variables('varSet_Cookie'),'; path=/; expires=')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Process XSRF-Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get Set_Cookie",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varXSRF-TOKEN",
							"value": {
								"value": "@concat('',substring(variables('varSet_Cookie'),indexof(variables('varSet_Cookie'),'XSRF-TOKEN'),sub(indexof(variables('varSet_Cookie'),'; path=/; SameSite=Lax;'),indexof(variables('varSet_Cookie'),'XSRF-TOKEN'))))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Process __cf_bm",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get Set_Cookie",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var__cf_bm",
							"value": {
								"value": "@concat('',substring(variables('varSet_Cookie'),indexof(variables('varSet_Cookie'),'__cf_bm'),sub(lastindexof(variables('varSet_Cookie'),'; path=/; expires='),indexof(variables('varSet_Cookie'),'__cf_bm'))))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set PipelineReturn",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Sage Cookie",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "retCookie",
									"value": {
										"type": "Expression",
										"content": "@variables('varSageCookie')"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"varSet_Cookie": {
						"type": "String"
					},
					"varXSRF-TOKEN": {
						"type": "String"
					},
					"var__cf_bm": {
						"type": "String"
					},
					"varSageCookie": {
						"type": "String"
					},
					"varPeopleEssUser": {
						"type": "String"
					},
					"intStart": {
						"type": "Integer"
					},
					"intEnd": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "01 Dev"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SageRestGetEntity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SageRestGetEntity_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "None"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SageRestToken')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SageRestToken_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WOF Linked Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('WOF Linked Service_properties_typeProperties_server')]",
					"database": "[parameters('WOF Linked Service_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('WOF Linked Service_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('WOF Linked Service_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WOF_DataWareHouse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('WOF_DataWareHouse_properties_typeProperties_server')]",
					"database": "[parameters('WOF_DataWareHouse_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('WOF_DataWareHouse_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('WOF_DataWareHouse_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ppln_delta_WorkingOnFire')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_BaseRegistration",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_DIM_BaseRegistration]"
						},
						"linkedServiceName": {
							"referenceName": "WOF_DataWareHouse",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_DIM_ParticipantDetails",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_BaseRegistration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_DIM_ParticipantBasicDetails]"
						},
						"linkedServiceName": {
							"referenceName": "WOF_DataWareHouse",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_DIM_ParticipantEmployment",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_DIM_ParticipantDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_DIM_ParticipantEmployment]"
						},
						"linkedServiceName": {
							"referenceName": "WOF_DataWareHouse",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "02 Excel"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF_DataWareHouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SageRestEmployee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SageRestGetEntity",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Source"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SageRestGetEntity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_DIM_ParticipantBasicDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF_DataWareHouse",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Target"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ParticipantBasicDetails_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NAMES",
						"type": "varchar"
					},
					{
						"name": "EL",
						"type": "varchar"
					},
					{
						"name": "SURNAME",
						"type": "varchar"
					},
					{
						"name": "ID Number",
						"type": "varchar"
					},
					{
						"name": "Job Description",
						"type": "varchar"
					},
					{
						"name": "Daily Wage rate",
						"type": "varchar"
					},
					{
						"name": "COUNTRY OF ORIGIN",
						"type": "varchar"
					},
					{
						"name": "DATE OF BIRTH",
						"type": "varchar"
					},
					{
						"name": "GENDER",
						"type": "varchar"
					},
					{
						"name": "AGE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RACE",
						"type": "varchar"
					},
					{
						"name": "DISABILITY",
						"type": "varchar"
					},
					{
						"name": "Government Grant",
						"type": "varchar"
					},
					{
						"name": "Start Date",
						"type": "date"
					},
					{
						"name": "Date Exited project",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tb_DIM_ParticipantBasicDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF_DataWareHouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_BaseRegistration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF_DataWareHouse",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Target"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Province",
						"type": "nvarchar"
					},
					{
						"name": "District_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "Local_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "Project_Name",
						"type": "nvarchar"
					},
					{
						"name": "Project_Registration_Number",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "raw",
					"table": "tb_BaseRegistration"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF_DataWareHouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_DC_Tool')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF_DataWareHouse",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Target"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Province",
						"type": "nvarchar"
					},
					{
						"name": "Employee_Nr",
						"type": "nvarchar"
					},
					{
						"name": "Local_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "Locality_name",
						"type": "nvarchar"
					},
					{
						"name": "NAMES",
						"type": "nvarchar"
					},
					{
						"name": "EL",
						"type": "nvarchar"
					},
					{
						"name": "SURNAME",
						"type": "nvarchar"
					},
					{
						"name": "ID_Number",
						"type": "nvarchar"
					},
					{
						"name": "Job_Description",
						"type": "nvarchar"
					},
					{
						"name": "Daily_Wage_rate",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_OF_ORIGIN",
						"type": "nvarchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "nvarchar"
					},
					{
						"name": "GENDER",
						"type": "nvarchar"
					},
					{
						"name": "AGE",
						"type": "nvarchar"
					},
					{
						"name": "RACE",
						"type": "nvarchar"
					},
					{
						"name": "DISABILITY",
						"type": "nvarchar"
					},
					{
						"name": "Government_Grant",
						"type": "nvarchar"
					},
					{
						"name": "Start_Date",
						"type": "nvarchar"
					},
					{
						"name": "Date_Exited_project",
						"type": "nvarchar"
					},
					{
						"name": "Employed_in_past_5_years",
						"type": "nvarchar"
					},
					{
						"name": "First_language_2",
						"type": "nvarchar"
					},
					{
						"name": "Other_language_2",
						"type": "nvarchar"
					},
					{
						"name": "Other_language_3",
						"type": "nvarchar"
					},
					{
						"name": "School_name",
						"type": "nvarchar"
					},
					{
						"name": "Highest_level_of_education",
						"type": "nvarchar"
					},
					{
						"name": "Year_Completed",
						"type": "nvarchar"
					},
					{
						"name": "Province2",
						"type": "nvarchar"
					},
					{
						"name": "Metro_District_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "Local_Municipality2",
						"type": "nvarchar"
					},
					{
						"name": "Subplace_local_town_Village_Suburb",
						"type": "nvarchar"
					},
					{
						"name": "Ward_name_number",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "Cellphone_number",
						"type": "nvarchar"
					},
					{
						"name": "Email_address",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_people_in_household",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_dependents_in_household",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_children_attending_school",
						"type": "nvarchar"
					},
					{
						"name": "Certified_ID_copy_submitted",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "raw",
					"table": "tb_DC_Tool"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF_DataWareHouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_Rates')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF_DataWareHouse",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Target"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Job_Title",
						"type": "nvarchar"
					},
					{
						"name": "column2",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Rate_per_hour",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "raw",
					"table": "tb_rates"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF_DataWareHouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_src_BaseRegistration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF Linked Service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Source"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Province",
						"type": "nvarchar"
					},
					{
						"name": "District_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "del",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Local_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "column5",
						"type": "nvarchar"
					},
					{
						"name": "Project_Name",
						"type": "nvarchar"
					},
					{
						"name": "column7",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Project_Registration_Number",
						"type": "nvarchar"
					},
					{
						"name": "column9",
						"type": "nvarchar"
					},
					{
						"name": "column10",
						"type": "nvarchar"
					},
					{
						"name": "column11",
						"type": "nvarchar"
					},
					{
						"name": "column12",
						"type": "nvarchar"
					},
					{
						"name": "column13",
						"type": "nvarchar"
					},
					{
						"name": "column14",
						"type": "nvarchar"
					},
					{
						"name": "column15",
						"type": "nvarchar"
					},
					{
						"name": "column16",
						"type": "nvarchar"
					},
					{
						"name": "column17",
						"type": "nvarchar"
					},
					{
						"name": "column18",
						"type": "nvarchar"
					},
					{
						"name": "column19",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "hcm",
					"table": "baseregistration_20240923"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF Linked Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_src_DC_Tool')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF Linked Service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Source"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Province",
						"type": "nvarchar"
					},
					{
						"name": "Employee_Nr",
						"type": "nvarchar"
					},
					{
						"name": "Local_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "Locality_name",
						"type": "nvarchar"
					},
					{
						"name": "NAMES",
						"type": "nvarchar"
					},
					{
						"name": "EL",
						"type": "nvarchar"
					},
					{
						"name": "SURNAME",
						"type": "nvarchar"
					},
					{
						"name": "ID_Number",
						"type": "nvarchar"
					},
					{
						"name": "Job_Description",
						"type": "nvarchar"
					},
					{
						"name": "Daily_Wage_rate",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_OF_ORIGIN",
						"type": "nvarchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "nvarchar"
					},
					{
						"name": "GENDER",
						"type": "nvarchar"
					},
					{
						"name": "AGE",
						"type": "nvarchar"
					},
					{
						"name": "RACE",
						"type": "nvarchar"
					},
					{
						"name": "DISABILITY",
						"type": "nvarchar"
					},
					{
						"name": "Government_Grant",
						"type": "nvarchar"
					},
					{
						"name": "Start_Date",
						"type": "nvarchar"
					},
					{
						"name": "Date_Exited_project",
						"type": "nvarchar"
					},
					{
						"name": "Employed_in_past_5_years",
						"type": "nvarchar"
					},
					{
						"name": "First_language_2",
						"type": "nvarchar"
					},
					{
						"name": "Other_language_2",
						"type": "nvarchar"
					},
					{
						"name": "Other_language_3",
						"type": "nvarchar"
					},
					{
						"name": "School_name",
						"type": "nvarchar"
					},
					{
						"name": "Highest_level_of_education",
						"type": "nvarchar"
					},
					{
						"name": "Year_Completed",
						"type": "nvarchar"
					},
					{
						"name": "Province2",
						"type": "nvarchar"
					},
					{
						"name": "Metro_District_Municipality",
						"type": "nvarchar"
					},
					{
						"name": "Local_Municipality2",
						"type": "nvarchar"
					},
					{
						"name": "Subplace_local_town_Village_Suburb",
						"type": "nvarchar"
					},
					{
						"name": "Ward_name_number",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "Cellphone_number",
						"type": "nvarchar"
					},
					{
						"name": "Email_address",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_people_in_household",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_dependents_in_household",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_children_attending_school",
						"type": "nvarchar"
					},
					{
						"name": "Certified_ID_copy_submitted",
						"type": "nvarchar"
					},
					{
						"name": "column40",
						"type": "nvarchar"
					},
					{
						"name": "column41",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "hcm",
					"table": "DC Tool_20240917"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF Linked Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_src_Rates')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WOF Linked Service",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Source"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Job_Title",
						"type": "nvarchar"
					},
					{
						"name": "column2",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Rate_per_hour",
						"type": "nvarchar"
					},
					{
						"name": "column4",
						"type": "nvarchar"
					},
					{
						"name": "column5",
						"type": "nvarchar"
					},
					{
						"name": "column6",
						"type": "nvarchar"
					},
					{
						"name": "column7",
						"type": "nvarchar"
					},
					{
						"name": "column8",
						"type": "nvarchar"
					},
					{
						"name": "column9",
						"type": "nvarchar"
					},
					{
						"name": "column10",
						"type": "nvarchar"
					},
					{
						"name": "column11",
						"type": "nvarchar"
					},
					{
						"name": "column12",
						"type": "nvarchar"
					},
					{
						"name": "column13",
						"type": "nvarchar"
					},
					{
						"name": "column14",
						"type": "nvarchar"
					},
					{
						"name": "column15",
						"type": "nvarchar"
					},
					{
						"name": "column16",
						"type": "nvarchar"
					},
					{
						"name": "column17",
						"type": "nvarchar"
					},
					{
						"name": "column18",
						"type": "nvarchar"
					},
					{
						"name": "column19",
						"type": "nvarchar"
					},
					{
						"name": "column20",
						"type": "nvarchar"
					},
					{
						"name": "column21",
						"type": "nvarchar"
					},
					{
						"name": "column22",
						"type": "nvarchar"
					},
					{
						"name": "column23",
						"type": "nvarchar"
					},
					{
						"name": "column24",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "hcm",
					"table": "rates_20240923"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WOF Linked Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		}
	]
}